/* Sign Up */

.container-signup {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border: 1px solid;
}

.signup {
  border: 2px solid rgb(13, 107, 189);
  width: 400px;
  padding: 14px 40px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 10px 25px rfb(92, 99, 105, 0.2);
}

.title {
  font-size: 50px;
  margin-bottom: 50px;
}
