/* Css Reset */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Courier New', Courier, monospace;
  color: #333;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap row;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 10vh 12vh;
}

.header,
.main {
  flex-grow: 1;
  padding: 2vh 2.5vh;
  border: solid;
}

.header h1 {
  color: #9932cc;
  text-transform: uppercase;
  font-size: 4vh;
  margin-bottom: 3vh;
  text-align: center;
  padding: 1.2vh 2vh;
  line-height: 1.5;
}

.header img {
  min-width: 500px;
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

/* .main-section {
  margin-bottom: 5vh;
  padding-left: 5vh;
}

.section-header {
  margin-bottom: 8vh;
} */
